body {
    background-color: rgba(0, 0, 0, 0.95);
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: white;
    font-size: 16px;
}

a {
    text-decoration: none;
}

input {
    color: red;
}
